<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Veio da API</h1>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Deleniti quis nobis rem vitae, ipsum vero, consectetur delectus, 
        qui similique ex iusto! Illum soluta, nesciunt eligendi vero ullam 
        ad similique libero!
    </p>

    <form action="">
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name">
    </form>
</body>
</html>